Source: qcom-acdbdata
Section: misc
Priority: optional
Maintainer: Sairamreddy Bojja <quic_sbojja@quicinc.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 qcom-kvh2xml-dev,
Standards-Version: 4.6.2
Homepage: https://git.codelinaro.org/clo/le/platform/vendor/qcom-opensource/audioreach-conf

Package: qcom-acdbdata
Section: libdevel
Architecture: arm64
Replaces: libacdbdata0
Breaks: libacdbdata0
Description: Qualcomm acdbdata audio stack development headers
 Headers-only package.
